---
import ThemeToggle from "../ThemeToggle.astro";
import Search from "../Search.astro";
import { menuLinks } from "@/site-config";

const url = new URL(Astro.request.url);
---

<header id="main-header" class="group relative mb-28 flex items-center sm:ps-[4.5rem]">
	<div class="flex sm:flex-col">
		<a
			href="/"
			class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
			aria-current={url.pathname === "/" ? "page" : false}
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 48 64" shape-rendering="crispEdges"
				class="me-3 h-10 w-6 sm:absolute sm:start-[-4.5rem] sm:me-0 sm:h-20 sm:w-12"
				aria-hidden="true"
				focusable="false"
			>
				<title>Logo</title>
				<path stroke="#4d0103" d="M15 0h17M45 0h1M14 1h1M32 1h1M44 1h1M46 1h1M14 2h1M16 2h15M32 2h1M44 2h1M46 2h1M14 3h1M16 3h1M30 3h1M32 3h1M44 3h1M46 3h1M14 4h1M16 4h1M30 4h1M32 4h1M44 4h1M46 4h1M14 5h1M16 5h1M30 5h1M32 5h1M44 5h1M46 5h1M14 6h1M16 6h1M30 6h1M32 6h1M44 6h1M46 6h1M14 7h1M16 7h1M30 7h1M32 7h1M44 7h1M46 7h1M14 8h1M16 8h1M30 8h1M32 8h1M44 8h1M46 8h1M14 9h1M16 9h1M30 9h1M32 9h1M44 9h1M46 9h1M14 10h1M16 10h1M30 10h1M32 10h1M44 10h1M46 10h1M14 11h1M16 11h1M30 11h1M32 11h1M44 11h1M46 11h1M14 12h1M16 12h1M30 12h1M32 12h1M44 12h1M46 12h1M1 13h14M17 13h13M32 13h13M46 13h1M0 14h1M46 14h1M0 15h1M2 15h13M32 15h15M0 16h1M2 16h1M14 16h1M32 16h1M0 17h1M2 17h1M14 17h1M32 17h1M0 18h1M2 18h1M14 18h1M32 18h1M0 19h1M2 19h1M14 19h1M32 19h1M0 20h1M2 20h1M14 20h1M32 20h1M0 21h1M2 21h1M14 21h1M32 21h1M0 22h1M2 22h1M14 22h1M32 22h1M0 23h1M2 23h1M14 23h1M32 23h1M0 24h1M2 24h1M14 24h1M32 24h1M0 25h1M2 25h1M14 25h1M32 25h1M0 26h1M2 26h1M14 26h1M32 26h1M0 27h1M2 27h1M14 27h1M32 27h1M0 28h1M2 28h1M14 28h1M32 28h1M1 29h1M14 29h1M32 29h1M14 30h1M32 30h13M14 31h1M45 31h1M14 32h1M16 32h28M45 32h1M14 33h1M16 33h1M43 33h1M45 33h1M14 34h1M16 34h1M43 34h1M45 34h1M14 35h1M16 35h1M43 35h1M45 35h1M14 36h1M16 36h1M43 36h1M45 36h1M14 37h1M16 37h1M43 37h1M45 37h1M14 38h1M16 38h1M43 38h1M45 38h1M14 39h1M16 39h1M43 39h1M45 39h1M14 40h1M16 40h1M43 40h1M45 40h1M14 41h1M16 41h1M43 41h1M45 41h1M14 42h1M16 42h1M43 42h1M45 42h1M0 43h15M16 43h1M43 43h1M45 43h1M0 44h1M16 44h1M43 44h1M45 44h1M0 45h1M2 45h14M43 45h1M45 45h3M0 46h1M2 46h1M43 46h1M47 46h1M0 47h3M43 47h5" />
<path stroke="#e3696a" d="M15 1h17M45 1h1M31 2h1M45 2h1M31 3h1M45 3h1M31 4h1M45 4h1M31 5h1M45 5h1M31 6h1M45 6h1M31 7h1M45 7h1M31 8h1M45 8h1M31 9h1M45 9h1M31 10h1M45 10h1M31 11h1M45 11h1M31 12h1M45 12h1M30 13h2M45 13h1M16 14h30M16 15h16M17 16h15M17 17h15M17 18h15M17 19h15M17 20h15M17 21h15M17 22h15M17 23h15M17 24h15M17 25h15M17 26h15M17 27h15M17 28h15M18 29h14M30 30h2M31 31h14M44 32h1M44 33h1M15 34h1M44 34h1M15 35h1M44 35h1M15 36h1M44 36h1M15 37h1M44 37h1M15 38h1M44 38h1M15 39h1M44 39h1M15 40h1M44 40h1M15 41h1M44 41h1M15 42h1M44 42h1M15 43h1M44 43h1M14 44h2M44 44h1M44 45h1M44 46h3" />
<path stroke="#ce5659" d="M15 2h1M15 3h1M15 4h1M15 5h1M15 6h1M15 7h1M15 8h1M15 9h1M15 10h1M15 11h1M15 12h1M15 13h2M1 14h15M1 15h1M15 15h1M1 16h1M15 16h2M1 17h1M15 17h2M1 18h1M15 18h2M1 19h1M15 19h2M1 20h1M15 20h2M1 21h1M15 21h2M1 22h1M15 22h2M1 23h1M15 23h2M1 24h1M15 24h2M1 25h1M15 25h2M1 26h1M15 26h2M1 27h1M15 27h2M1 28h1M15 28h2M15 29h3M15 30h15M15 31h16M15 32h1M15 33h1M1 44h13M1 45h1M1 46h1" />
<path stroke="#77c8af" d="M17 3h10M17 4h11M17 5h6M25 5h1M28 5h1M17 6h6M25 6h1M28 6h1M17 7h6M25 7h1M28 7h2M17 8h12M17 9h5M23 9h4M28 9h1M17 10h6M27 10h3M17 11h13M17 12h13" />
<path stroke="#8cdec4" d="M27 3h3M28 4h2M29 5h1M29 6h1M29 8h1M29 9h1" />
<path stroke="#000000" d="M23 5h1M26 5h1M23 6h2M26 6h2M23 7h2M26 7h2M22 9h1M27 9h1M23 10h4" />
<path stroke="#1f6955" d="M24 5h1M27 5h1" />
				</svg>
			<span class="text-xl font-bold sm:text-2xl">The Oversharing Geek</span>
		</a>
		<nav
			id="navigation-menu"
			class="absolute -inset-x-4 top-14 hidden flex-col items-end gap-y-4 rounded-md bg-bgColor/[.85] py-4 text-accent shadow backdrop-blur group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:-ms-4 sm:mt-1 sm:flex sm:flex-row sm:items-center sm:divide-x sm:divide-dashed sm:divide-accent sm:rounded-none sm:bg-transparent sm:py-0 sm:shadow-none sm:backdrop-blur-none"
			aria-label="Main menu"
		>
			{
				menuLinks.map((link) => (
					<a
						href={link.path}
						class="px-4 py-4 sm:py-0 sm:hover:underline"
						rel={link.rel ?? ''}
						aria-current={url.pathname === link.path ? "page" : false}
						data-astro-prefetch
					>
						{link.title}
					</a>
				))
			}
		</nav>
	</div>
	<Search />
	<ThemeToggle />
	<mobile-button>
		<button
			id="toggle-navigation-menu"
			class="group relative ms-4 h-7 w-7 sm:invisible sm:hidden"
			type="button"
			aria-label="Open main menu"
			aria-expanded="false"
			aria-haspopup="menu"
		>
			<svg
				id="line-svg"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 transition-all group-aria-expanded:scale-0 group-aria-expanded:opacity-0"
				aria-hidden="true"
				focusable="false"
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
			>
				<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9h16.5m-16.5 6.75h16.5"
				></path>
			</svg>
			<svg
				id="cross-svg"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 scale-0 text-accent opacity-0 transition-all group-aria-expanded:scale-100 group-aria-expanded:opacity-100"
				class="text-accent"
				aria-hidden="true"
				focusable="false"
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
			>
				<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
			</svg>
		</button>
	</mobile-button>
</header>

<script>
	import { toggleClass } from "@/utils";

	class MobileNavBtn extends HTMLElement {
		private headerEl: HTMLElement;
		private mobileButtonEl: HTMLButtonElement;
		private menuOpen: boolean;

		constructor() {
			super();
			this.headerEl = document.getElementById("main-header")!;
			this.mobileButtonEl = this.querySelector("button") as HTMLButtonElement;
			this.menuOpen = false;

			this.mobileButtonEl.addEventListener("click", this.toggleMobileMenu);
		}

		toggleMobileMenu = () => {
			toggleClass(this.headerEl, "menu-open");
			this.menuOpen = !this.menuOpen;
			this.mobileButtonEl.setAttribute("aria-expanded", this.menuOpen.toString());
		};
	}

	customElements.define("mobile-button", MobileNavBtn);
</script>
